body, .article-content {
    // font-family: 'Long Cang', cursive;
    // font-family: 'Ma Shan Zheng', cursive;
    // font-family: 'Noto Sans SC', sans-serif;
    font-family: 'Noto Serif SC', serif;
    // font-family: 'Zhi Mang Xing', cursive;

    
}



html{
    ::-webkit-scrollbar {
        width: 20px;
      }
      
      ::-webkit-scrollbar-track {
        background-color: transparent;
      }
      
      ::-webkit-scrollbar-thumb {
        background-color: transparent;
        border-radius: 20px;
        border: 0px solid transparent;
        background-clip: content-box;
      }
      
      ::-webkit-scrollbar-thumb:hover {
        background-color: transparent;
      
      }
}

body{   background-color: var(--body-background);
    background-image: var(--background-image);
    background-size: var(--background-size);}

// 卡片样式
.mycard {
    padding: 10px 20px;
    margin: 20px 0;
    border-radius: 4px;
    word-break: break-all;
    background: #d2e5eb14;
    box-shadow: 0 6px 10px 0 #00000033;
    .content {
      line-height: 30px;
    }
}

//重点标记
mark{
    background: hsla(199, 64%, 63%, 0.696);
}